@page "{name}"
@model CityBreaks.Pages.CityModel
@{
    ViewData["Title"] = $"{Model.City?.Name} Details";
}

@if (Model.City is null)
{
    <p class="">City not found.</p>
}
else
{
    <h3>@Model.City.Name</h3>

    @foreach (var property in Model.City.Properties)
    {
        <div class="mb-3">
            <h5 role="button"
                data-id="@property.Id"
                data-bs-toggle="modal"
                data-bs-target="#property-modal">
                @property.Name
            </h5>
            <p class="mb-1">@property.Address</p>
            <i class="fas fa-euro-sign text-muted"></i> @property.DayRate.ToString("C")<br>
            @if (!property.IsSmokingPermitted)
            {
                <i class="fas fa-smoking-ban text-danger"></i>
            }
            @for (var i = 1; i <= property.MaxNumberOfGuests; i++)
            {
                <i class="fas fa-bed text-info"></i>
            }
        </div>
    }
}

<partial name="_PropertyModalPartial" />

@section Scripts {
    <script src="~/js/city.js"></script>
}