@page
@using Microsoft.AspNetCore.Authorization;
@model CityBreaks.Pages.Properties.IndexModel
@inject IAuthorizationService _authorization
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Properties[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Properties[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Properties[0].MaxNumberOfGuests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Properties[0].DayRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Properties[0].IsSmokingPermitted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Properties[0].AvailableFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Properties[0].City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Properties)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxNumberOfGuests)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DayRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsSmokingPermitted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City!.Name)
                </td>
                <td>
                    @{
                        var editResult = await _authorization.AuthorizeAsync(User, item, "EditPropertyPolicy");

                        if (editResult.Succeeded)
                        {
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>

                            <text> |</text>
                        }

                        var deleteResult = await _authorization.AuthorizeAsync(User, item, "DeletePropertyPolicy");

                        if (deleteResult.Succeeded)
                        {
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>

                            <text> |</text>
                        }
                    }
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
