@using static CityBreaks.Pages.CityModel;
@model CityBreaks.Models.Property

@{
    var bookingInputModel = new BookingInputModel
    {
        Property = Model,
        StartDate = DateTime.Today.AddDays(1),
        EndDate = DateTime.Today.AddDays(2),
        NumberOfGuests = 1
    };
}

<h3>@Model.Name</h3>
<address>
    @Model.Address
</address>
<p>Availability: @(Model.AvailableFrom < DateTime.Now ? "Immediate" : Model.AvailableFrom.ToShortDateString())</p>
<p>Day Rate: @Model.DayRate.ToString("C")</p>
<p>Max Guests: @Model.MaxNumberOfGuests</p>
<p>Smoking permitted? @(Model.IsSmokingPermitted ? "Yes" : "No")</p>

<partial name="_PropertyBookingForm" model="bookingInputModel" />
